
.homepagemain {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.spaceimage {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 550px;
}

.letter {
  margin-left: 50px;
  font-weight: 500;
  font-size: 65px;
  color: #00a9b4;
}

.navbarmargin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbarleft {
  margin-left: 25px;
}

.customcontainer {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
}

.buttonspace {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 75px;
}

.buttonspace2 {
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 75px;
}

.custom {
  border-bottom: #00a9b4 solid 3px;
}

.bold {
  font-weight: bold;
}

.nav-link.active {
  font-weight: bold;
}
