.card {
    width: 60%;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.front {
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    width: 300px;
    background-image: linear-gradient(180deg, #00a9b4, #be003e);
    height: 180%;
    animation: rotBGimg 2.5s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: "";
    position: absolute;
    background: #ffffff;
    inset: 5px;
    border-radius: 15px;
}
.card:hover:before {
    width: 2000px;
    height: 2000px;
  background-image: linear-gradient(180deg, #e08814, #be003e);
  animation: rotBGimg 2s linear infinite;
}
