/* adjusting the built-in theme */

/* calendar event */
.calendar_default_event_inner {
    background: #f6f7f8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 10pt;
    padding: 5px;
    opacity: 0.8;
}
